/*======= Google fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= Main CSS =======*/

/* Apply styles to all elements, set box model to border-box, and use 'Poppins' font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Remove outline on focus for all elements */
*:focus {
    outline: none;
}

/* Set background color for the body */
body {
    background: #EFF0F6;
}



/*======= Header navigation bar =======*/

/* Style the fixed header bar */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    min-height: 1em;
    background: #fff;
}

/* Style the navigation bar inside the header */
header .nav-bar {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    height: 4em;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    transition: 0.5s ease;
}

/* Style the links and separator inside the header */
.header-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    white-space: nowrap;
}


/* Style individual header links */
.header-link {
    color: #210060;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s;
}

/* Change link color on hover */
.header-link:hover {
    color: #fff;
}

/* Style the logo inside the navigation bar */
.nav-bar .logo img {
    width: 250px;
    height: auto;
    float: left;
    margin-left: -40%;
}

/* Style navigation items */
.navigation .nav-items a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}

/* Add margin to navigation items except the last one */
.navigation .nav-items a:not(:last-child) {
    margin-right: 50px;
}


/* Style navigation close and menu buttons */
.nav-menu-btn {
    display: none;
    margin-right: -7%;
    margin-left: 3%;
}

/* Style the navigation menu button */
.nav-menu-btn {
    display: block;
    color: #210060;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

/* Apply rotation on button click */
.nav-menu-btn:active {
    transform: rotate(180deg);
}

/* Change button color on hover */
.nav-menu-btn:hover {
    color: #fff;
}

/* Style the navigation menu */
.navigation {
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

/* Show the navigation menu when active */
.navigation.active {
    visibility: visible;
    opacity: 1;
}

/* Style the navigation items container */
.navigation .nav-items {
    position: relative;
    background: #fff;
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
    transform: translateY(-200px);
    transition: 0.3s ease;
}

/* Show the navigation items when active */
.navigation.active .nav-items {
    transform: translateY(0);
}

/* Style navigation links */
.navigation .nav-items a {
    color: #222;
    font-size: 1em;
    margin: 15px 50px;
    transition: color 0.3s;
}

/* Change link color on hover */
.navigation .nav-items a:hover {
    color: #210060;
}

/* Style navigation close button */
.nav-close-btn {
    display: block;
    color: #222;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

/* Apply rotation to close button on hover */
.nav-close-btn:hover {
    transform: rotate(90deg);
}

/*======= Scroll bar =======*/

/* Style the scrollbar and scrollbar thumb */
::-webkit-scrollbar {
    background: #fff;
    width: 11px;
    border-radius: 2em;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb {
    background: grey;
    width: 100%;
    border-radius: 2em;
}

/* Style the scrollbar thumb when hovering */
::-webkit-scrollbar-thumb:hover {
    background:darkgray;
}


/*======= Seacrh bar and Profile =======*/

/* Style the search bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30%;
    left: 35%;
    right: 35%;
}

.search-bar input {
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    background: #EFF0F6;
    text-align: left;
}

.search-bar i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
}

  
/* Style the profile link */
.header-links a:last-child {
    color: #210060;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    align-self: center;
    
}
  
  /* Change link color on hover */
  .header-links a:last-child:hover {
    color: #fff;
  }

/*======= Top bar (Create post, Filter) =======*/


.top-bar {
    background: white;
    border-radius: 20.05px;
    display: flex;
    width: 70%;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 7em;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.top-bar .left {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.top-bar .center {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    background: #EFF0F6;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0; 
}


.top-bar .center .create-post-button .create-post-link {
    font-size: 16px; /* Adjust the font size as needed */
    color: #000; 
    text-decoration: none; /* Remove underline of the link */
    margin-right: 10px; 
}

.top-bar .center .create-post-button .create-post-link:hover {
    color: grey;
}

.top-bar .center .create-post-button .plus-icon {
    background-color: #EFF0F6;
    color: black;
    border-radius: 50%;
    border: solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 170px; 
}

.top-bar .center .create-post-button .plus-icon:hover {
    color: gray;
    border: solid gray;
}

.top-bar .custom-dropdown {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.top-bar .filter-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.top-bar .filter-button:hover {
    color: #555;
}

.top-bar .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px; /* Adjust the max height as needed */
    overflow-y: auto;
}

.top-bar .tag-option {
    padding: 10px;
    cursor: pointer;
}

.top-bar .tag-option:hover {
    background-color: #ddd;
}

.top-bar .custom-dropdown.active .dropdown-content {
    display: block;
}

/* Style the search bar */
#tagSearch {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
    outline: none; 
}

/* Style the tag options in the dropdown */
.tag-option {
    padding: 8px;
    cursor: pointer;
}

.tag-option:hover {
    background-color: #f1f1f1;
}


/*======= Media Queries for Mobile Screen=======*/


/* Media query for screens smaller than 768px*/
@media (max-width: 768px) {
    body {
        padding: 0px; /* Add some spacing to the body content */
    }

    header .nav-bar {
        padding: 0 20px; /* Adjust the navigation bar padding for smaller screens */
        justify-content: space-between; /* Center the logo and menu button */
        width: 100%; /* Make the header span the full width of the viewport */
    }

    .nav-menu-btn {
        display: block; /* Display the navigation menu button on mobile */
        margin-right: -2%;
    }

    .nav-bar .logo img {
        width: 150px; /* Adjust the logo size for smaller screens */
        margin-left: -10%; /* Reset the margin for the logo */
    }

    .navigation .nav-items {
        width: 100%; /* Make navigation items full-width on mobile */
    }

    /* Adjust other styles as needed for mobile screens */
    .top-bar {
        width: 70%; /* Make the top bar full-width on mobile */
        margin: 2px auto;
    }

    .top-bar .left {
        flex: 1;
        text-align: left; /* Align left for the "Create a Post" button */
    }

    .top-bar .center {
        margin-left: -40px;
        background: #EFF0F6;
        padding: 10px;
        border-radius: 20px;
    }

    .top-bar .center .create-post-button .plus-icon {
        margin-left: 15%; /* Reset the margin for the "Create a Post" button */
        font-size: 14px;
    }

    .top-bar .center .create-post-button .create-post-link{
        font-size: 14px;
    }

    .top-bar .right {
        margin-right: -10px;
    }

    .top-bar .right .filter-button {
        font-size: 20px; /* Decrease the font size for the filter button */
    }

    .top-bar .right .select-tag {
        font-size: 12px;
    }

    .header-links a:last-child {
        margin-left: 0; /* Reset the margin for the profile link */
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 30%;
        left: 35%;
        right: 35%;
    }
    
    .search-bar input {
        width: 100%;
        padding: 5px 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        background: #EFF0F6;
        text-align: left;
    }
    
    .search-bar i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #000;
        cursor: pointer;
    }
    
    /* Style the profile link */
    .header-links a:last-child {
        color: #210060;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;
        margin-right: auto;
        margin-left: auto;
    }
    
    /* Change link color on hover */
    .header-links a:last-child:hover {
        color: #fff;
    }

}

/* Container for Top Posts and Review Posts */
.top-posts-container {
    display: flex;
    gap: 2%;
    margin-left: 15%;
}

/*======= Top Posts Styling =======*/
.top-posts {
    padding-top: 3.5em;
}

.top-posts-section {
    background: white;
    border-radius: 20px;
    width: 170px;
    margin: 10em 0 0; /* Adjusted margin */
    padding: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.top-posts-title {
    color: #000;
    padding: 2px;
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 1px;
}

.top-posts-title span {
    font-size: 1em;
    display: flex;
    align-items: center; /* Removed the extra / */
}

.top-posts-title span i {
    font-size: 1.2em;
    margin-left: 20px;
    color: #FF4500;
}

/*======= Review Posts Styling =======*/
.review-posts {
    padding-top: 3.5em;
}

.review-posts-section {
    background: white;
    border-radius: 20px;
    width: 170px;
    margin: 10em 0 0; /* Adjusted margin */
    padding: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.review-posts-title {
    color: #000;
    padding: 3px;
    border-radius: 10px;
    text-align: left;
    margin-left: 8px;
    margin-bottom: -4px;
}

.review-posts a{
    text-decoration: none;
    color: #000;
    padding: -2px;
    border-radius: 10px;
    text-align: left;
    margin-left: 7px;
    margin-bottom: 3px;    
}

.review-posts-title span {
    font-size: 1em;
    display: flex;
    align-items: center;
}

/*======= Reported Posts Styling =======*/
.reported-posts {
    padding-top: 3.5em;
}

.reported-posts-section {
    background: white;
    border-radius: 20px;
    width: 170px;
    margin: 10em 0 0; /* Adjusted margin */
    padding: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.reported-posts-title {
    color: #000;
    padding: 3px;
    border-radius: 10px;
    text-align: left;
    margin-left: 8px;
    margin-bottom: -4px;
}

.reported-posts a{
    text-decoration: none;
    color: #000;
    padding: -2px;
    border-radius: 10px;
    text-align: left;
    margin-left: 7px;
    margin-bottom: 3px;    
}

.reported-posts-title span {
    font-size: 1em;
    display: flex;
    align-items: center;
}

/*======= Media Queries for 768px Screens ======= */
@media screen and (max-width: 768px) {
    .top-posts {
        padding-top: 3.5em;
    }
    
    .top-posts-section {
        background: white;
        border-radius: 20px;
        width: 130px;
        margin: 10em 0 0; /* Adjusted margin */
        padding: 3px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    
    .top-posts-title {
        color: #000;
        padding: 2px;
        border-radius: 10px;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 1px;
    }
    
    .top-posts-title span {
        font-size: 1em;
        display: flex;
        align-items: center; /* Removed the extra / */
    }
    
    .top-posts-title span i {
        font-size: 1.2em;
        margin-left: 10px;
        color: #FF4500;
    }
    
    /*======= Review Posts Styling =======*/
    .review-posts {
        padding-top: 3.5em;
    }
    
    .review-posts-section {
        background: white;
        border-radius: 20px;
        width: 170px;
        margin: 10em 0 0; /* Adjusted margin */
        padding: 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    
    .review-posts-title {
        color: #000;
        padding: 3px;
        border-radius: 10px;
        text-align: left;
        margin-left: 8px;
        margin-bottom: -4px;
    }
    
    .review-posts a{
        text-decoration: none;
        color: #000;
        padding: -2px;
        border-radius: 10px;
        text-align: left;
        margin-left: 7px;
        margin-bottom: 3px;    
    }
    
    .review-posts-title span {
        font-size: 0.8em;
        display: flex;
        align-items: center;
    }
    
    /*======= Reported Posts Styling =======*/
    .reported-posts {
        padding-top: 3.5em;
    }
    
    .reported-posts-section {
        background: white;
        border-radius: 20px;
        width: 170px;
        margin: 10em 0 0; /* Adjusted margin */
        padding: 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    
    .reported-posts-title {
        color: #000;
        padding: 3px;
        border-radius: 10px;
        text-align: left;
        margin-left: 8px;
        margin-bottom: -4px;
    }
    
    .reported-posts a{
        text-decoration: none;
        color: #000;
        padding: -2px;
        border-radius: 10px;
        text-align: left;
        margin-left: 7px;
        margin-bottom: 3px;    
    }
    
    .reported-posts-title span {
        font-size: 1em;
        display: flex;
        align-items: center;
    }

}



/*======= Other Posts Styling =======*/
.other-posts {
    padding-top: 0em;
    margin-left: 15%;
}

.other-posts-section {
    background: white;
    border-radius: 20px;
    width: 140px;
    margin: 2em 0 0; 
    padding: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.other-posts-title {
    color: #000;
    padding: 2px;
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 1px;
}

.other-posts-title span {
    font-size: 1em;
    display: flex;
    align-items: center; /* Removed the extra / */
}




/*======= Post Template Styling =======*/

/* Style the post container */
.post {
    background-color: #fff;
    margin: 1.5em auto; /* Adjusted margin to make it closer to the top-posts */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: 15%;
}

/* Style the post container */
.other-post {
    background-color: #fff;
    margin: 1em auto; /* Adjusted margin to make it closer to the top-posts */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: 15%;
}

/* Adjust margin for the first post */
.other-post:first-child {
    margin-top: -1.5em; /* Set the top margin to 0 for the first post */
}

.no-posts-message {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
    font-size: 18px;
    color: #555; /* Adjust the color as needed */
}

/* Style the user info section */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info a {
    text-decoration: none ;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 1.2em;
    font-weight: 500;
    color: #555;
}


/* Style the post title and tags */
.post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    margin-left: 0.5%;
    display: flex;
    justify-content: space-between; /* Align items to the right */
}

.post-tag {
    display: flex;
    align-items: center; /* Align vertically */
}

.input-tag,
.input-type {
    margin-left: 10px; /* Adjusted margin to separate tags from title */
    font-size: 1em;
    color: #888;
}

/* Style the post content */
.post-content {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    background-color: #EFF0F6; 
    padding: 10px;
    border-radius: 15px;
}

/* Style the post image */
.post-image {
    width: 100%;   /* Make the image take up 100% of its container's width */
    height: 500px; /* Set a fixed height for the image */
    object-fit: cover; /* Maintain the aspect ratio and cover the container */
    border-radius: 15px; /* Add rounded corners */
    margin-top: 15px; /* Adjust the margin as needed */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-bottom: 1em;
}

/* Style the post actions and stats */
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-actions {
    display: flex;
    align-items: center;
}

.post-actions button {
    background-color: #E9EAF3;
    color: #555;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.post-actions button:hover {
    background-color: #555;
    color: #fff;
}

.post-stats {
    font-size: 1em;
    margin-right: 10px;
    color: #555;
}

.post-link {
    text-decoration: none; /* Remove underline from the anchor text */
    color: inherit; /* Use the default text color */
}

.post-link:hover {
    text-decoration: none; /* Add underline on hover if needed */
}


/*======= Side Buttons Styling =======*/

/* Style the previous and next buttons */
.prev, .next {
    position: absolute;
    top: 60%;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    border: none;
    transition: color 0.3s;
    width: 40px; 
    height: 40px; 
    z-index: 1; /* Ensure the buttons are behind the chatbox */
}

.prev:hover, .next:hover {
    color: #fff;
    border-radius: 50%; 
    background-color: #555;
    font-size: 22px;
}

.prev {
    left: 7%;
    top: 70%; /* Adjust the top property to position below the chatbox */

}

.next {
    right: 7%;
    top: 70%; /* Adjust the top property to position below the chatbox */

}


/*======= Different Styling =======*/
/* Container for the column layout with 15% padding */
.scrollable-posts-container.column-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15%;
}

/* Style for each post within the column layout */
.scrollable-posts-container.column-layout .post,
.scrollable-posts-container.column-layout .other-post {
    width: calc(50.33% - 1em);
    margin: 0.25em 0; /* Adjust the vertical margin */
    margin-top: 1em;
}

.scrollable-posts-container.column-layout .post:nth-child(1),
.scrollable-posts-container.column-layout .other-post:nth-child(1),
.scrollable-posts-container.column-layout .post:nth-child(2),
.scrollable-posts-container.column-layout .other-post:nth-child(2) {
    margin-top: -1.5em;
}

/* Style the post title and tags */
.scrollable-posts-container.column-layout .post-title {
    font-size: 1.2em;
}

/* Style the post content */
.scrollable-posts-container.column-layout .post-content {
    font-size: 1em;
}

/* Style the post image */
.scrollable-posts-container.column-layout .post-image {
    width: 100%;
    height: 250px; /* Set a reduced height for the image */
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 0.25em; /* Reduce the bottom margin */
}

/* Style the user info section */
.scrollable-posts-container.column-layout .user-info img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

/* Style the post actions and stats */
.scrollable-posts-container.column-layout .post-actions button {
    padding: 5px 10px;
    font-size: 0.8em;
}

.scrollable-posts-container.column-layout .post-stats {
    font-size: 0.8em;
}

#toggleLayoutBtn {
    position: relative;
    top: -45px; /* Adjust the value to push it upward */
    left: 25%;
    border: none;
    color: #333;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    background-color: #EFF0F6;
    z-index: inherit;
  }
  
  #toggleLayoutBtn i:hover {
    color: #ddd;
  }
  
  .column-layout #toggleLayoutBtn i::before {
    content: '\e9c8'; /* Unicode for grid icon */
  }
  
  .fixed-button {
    z-index: 999;
  }
  
  .scrollable-posts-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column-layout .scrollable-posts-container {
    column-count: 2;
  }

@media screen and (max-width: 768px) {
    #toggleLayoutBtn {
        position: relative;
        top: -45px; /* Adjust the value to push it upward */
        left: 35%;
        border: none;
        color: #333;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
        background-color: #EFF0F6;
        z-index: inherit;
      }
      
      #toggleLayoutBtn i:hover {
        color: #ddd;
      }
      
      .column-layout #toggleLayoutBtn i::before {
        content: '\e9c8'; /* Unicode for grid icon */
      }
      
      .fixed-button {
        z-index: 999;
      }
      
      .scrollable-posts-container {
        display: flex;
        flex-wrap: wrap;
      }
      
      .column-layout .scrollable-posts-container {
        column-count: 2;
      }
}
  

/*======= Chat =======*/

#openChatBtn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #EFF0F6; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#openChatBtn i {
    font-size: 20px; /* Adjust the font size for the icon */
    margin-left: none; /* Add some space between the icon and text */
    color: #333;
}


/*======= Chat =======*/
#chatbox {
    display: none;
	width: 290px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	height: 484px;
	position: fixed;
	top: 40%;
	left: 90%;
	margin-left: -155px;
    z-index: 2; /* Ensure the chatbox is above the buttons */

}

#friendslist {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 484px;
}

#topmenu {
	height: 69px;
	width: 290px;
	border-bottom: 1px solid #d8dfe3;
	display: flex;
	align-items: center;
}

#close-button {
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    font-size: 20px;
    color: #555; /* Adjust the color as needed */
}

/* Style for the close button on hover */
#close-button:hover {
    color: #8198ac; /* Adjust the hover color as needed */
}

.user-avatar img {
    /* Style for the user avatar image */
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%;
    margin-left: 10px;
}

.user-details {
    /* Style for the user details container */
    margin-left: 10px; /* Adjust the margin as needed */
}

.user-details span {
    /* Style for the span elements inside user details */
    display: block; /* Display each span on a new line */
}

.user-details span:first-child {
    /* Style for the first span (user name) */
    font-weight: bold; /* Make the user name bold */
}

.user-details span:last-child {
    /* Style for the last span (Active Now) */
    font-size: 12px; /* Adjust the font size as needed */
    color: #555; /* Adjust the color as needed */
}

.user-details span:last-child::after {
    /* Add a green dot before the "Active Now" text */
    content: '\2022'; /* Unicode character for a bullet */
    color: #4CAF50; /* Green color */
    margin-right: 5px; /* Adjust the margin as needed */
}

.friend{
	height:70px;
	border-bottom:1px solid #e7ebee;		
	position:relative;
}
.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.friend img{
	width:40px;
	border-radius:50%;
	margin:15px;
	float:left;
}
.floatingImg{
	width:40px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:12px;
	border:3px solid #fff;
}
.friend p{
	padding:15px 0 0 0;			
	float:left;
	width:220px;
}
.friend p strong{
  font-weight:600;
  font-size:15px;
color:#597a96;  

}
.friend p span{
	font-size:13px;
	font-weight:400;
	color:#aab8c2;
}
.friend .status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:absolute;
	top:31px;
	right:17px;
}
.friend .status.away{background:#ffce54;}
.friend .status.inactive{background:#eaeef0;}
#search{
	background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
	height:60px;
	width:290px;
	position:absolute;
	bottom:0;
	left:0;
}
#searchfield{
	background:#e3e9ed;
	margin:21px 0 0 55px;
	border:none;
	padding:0;
	font-size:14px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color:#8198ac;
}
#searchfield:focus{
	 outline: 0;
}
#chatview{
	width:290px;
	height:484px;
	position:absolute;
	top:0;
	left:0;	
	display:none;
	background:#fff;
}
#profile{
	height:153px;
	overflow:hidden;
	text-align:center;
	color:#fff;
}
.p1 #profile{
    background: #555;
}
#profile .avatar{
	width:68px;
	border:3px solid #fff;
	margin:23px 0 0;
	border-radius:50%;
}
#profile  p{
	font-weight:600;
	font-size:15px;
	margin:118px 0 -1px;
	opacity:0;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile  p.animate{
	margin-top:97px;
	opacity:1;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile  span{
	font-weight:400;
	font-size:11px;
}
#chat-messages{
	opacity:0;
	margin-top:30px;
	width:290px;
	height:270px;
	overflow-y:scroll;	
	overflow-x:hidden;
	padding-right: 20px;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messages.animate{
	opacity:1;
	margin-top:0;
}
#chat-messages label{
	color:#aab8c2;
	font-weight:600;
	font-size:12px;
	text-align:center;
	margin:15px 0;
	width:290px;
	display:block;	
}
#chat-messages div.message{
	padding:0 0 30px 58px;
	clear:both;
	margin-bottom:45px;
}
#chat-messages div.message.right{
	  padding: 0 58px 30px 0;
	  margin-right: -19px;
	  margin-left: 19px;
}
#chat-messages .message img{
	  float: left;
	  margin-left: -38px;
	  border-radius: 50%;
	  width: 30px;
	  margin-top: 12px;
}
#chat-messages div.message.right img{
	float: right;	
    margin-left: 0;
	margin-right: -38px;	
}
.message .bubble{	
	background:#f0f4f7;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
	border-radius:5px 5px 5px 0px;
	color:#8495a3;
	position:relative;
	float:left;
}
#chat-messages div.message.right .bubble{
	float:right;
	border-radius:5px 5px 0px 5px ;
}
.bubble .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
	position:absolute;
	width:7px;
	height:7px;
	left:-5px;
	bottom:0;
}
div.message.right .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
	left:auto;
	right:-5px;
}
.bubble span{
	  color: #aab8c2;
	  font-size: 11px;
	  position: absolute;
	  right: 0;
	  bottom: -22px;
}
#sendmessage{
	height:60px;
	border-top:1px solid #e7ebee;	
	position:absolute;
	bottom:0;
	right:0px;
	width:290px;
	background:#fff;
	padding-bottom:50px;
}
#sendmessage input{
	border:none;
}

#sendmessage input{
	background:#fff;
	margin:21px 0 0 21px;
	border:none;
	padding:0;
	font-size:14px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color:#aab8c2;
}
#sendmessage input:focus{
	 outline: 0;
}
#sendmessage button{
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	right: 15px;
	top: 23px;
	border:none;
}
#sendmessage button:hover{
	cursor:pointer;
	background-position: 0 0 ;
}
#sendmessage button:focus{
	 outline: 0;	 
}

#close{
	position:absolute;
	top: 8px;	
	opacity:0.8;
 	right: 10px;
	width:20px;
	height:20px;
	cursor:pointer;
}
#close:hover{
	opacity:1;
}

.message-date {
    display: block;
    text-align: center;
    color: #888; 
    font-size: 12px; 
    margin-top: 5px; 
}

.cx, .cy{
	background:#fff;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#chatview, #sendmessage { 
overflow:hidden; 
border-radius:6px; 
}

@media screen and (max-width: 768px) {
    /*======= Chat Button =======*/

#openChatBtn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #EFF0F6; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#openChatBtn i {
    font-size: 20px; /* Adjust the font size for the icon */
    margin-left: none; /* Add some space between the icon and text */
    color: #333;
}


/*======= Chat =======*/
#chatbox {
    display: none;
	width: 290px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	height: 484px;
	position: fixed;
	top: 40%;
	left: 80%;
	margin-left: -155px;
    z-index: 2; /* Ensure the chatbox is above the buttons */

}

#friendslist {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 484px;
}

#topmenu {
	height: 69px;
	width: 290px;
	border-bottom: 1px solid #d8dfe3;
	display: flex;
	align-items: center;
}

#close-button {
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    font-size: 20px;
    color: #555; /* Adjust the color as needed */
}

/* Style for the close button on hover */
#close-button:hover {
    color: #8198ac; /* Adjust the hover color as needed */
}

.user-avatar img {
    /* Style for the user avatar image */
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%;
    margin-left: 10px;
}

.user-details {
    /* Style for the user details container */
    margin-left: 10px; /* Adjust the margin as needed */
}

.user-details span {
    /* Style for the span elements inside user details */
    display: block; /* Display each span on a new line */
}

.user-details span:first-child {
    /* Style for the first span (user name) */
    font-weight: bold; /* Make the user name bold */
}

.user-details span:last-child {
    /* Style for the last span (Active Now) */
    font-size: 12px; /* Adjust the font size as needed */
    color: #555; /* Adjust the color as needed */
}

.user-details span:last-child::after {
    /* Add a green dot before the "Active Now" text */
    content: '\2022'; /* Unicode character for a bullet */
    color: #4CAF50; /* Green color */
    margin-right: 5px; /* Adjust the margin as needed */
}

.friend{
	height:70px;
	border-bottom:1px solid #e7ebee;		
	position:relative;
}
.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.friend img{
	width:40px;
	border-radius:50%;
	margin:15px;
	float:left;
}
.floatingImg{
	width:40px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:12px;
	border:3px solid #fff;
}
.friend p{
	padding:15px 0 0 0;			
	float:left;
	width:220px;
}
.friend p strong{
  font-weight:600;
  font-size:15px;
color:#597a96;  

}
.friend p span{
	font-size:13px;
	font-weight:400;
	color:#aab8c2;
}
.friend .status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:absolute;
	top:31px;
	right:17px;
}
.friend .status.away{background:#ffce54;}
.friend .status.inactive{background:#eaeef0;}
#search{
	background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
	height:60px;
	width:290px;
	position:absolute;
	bottom:0;
	left:0;
}
#searchfield{
	background:#e3e9ed;
	margin:21px 0 0 55px;
	border:none;
	padding:0;
	font-size:14px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color:#8198ac;
}
#searchfield:focus{
	 outline: 0;
}
#chatview{
	width:290px;
	height:484px;
	position:absolute;
	top:0;
	left:0;	
	display:none;
	background:#fff;
}
#profile{
	height:153px;
	overflow:hidden;
	text-align:center;
	color:#fff;
}
.p1 #profile{
    background: #555;
}
#profile .avatar{
	width:68px;
	border:3px solid #fff;
	margin:23px 0 0;
	border-radius:50%;
}
#profile  p{
	font-weight:600;
	font-size:15px;
	margin:118px 0 -1px;
	opacity:0;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile  p.animate{
	margin-top:97px;
	opacity:1;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile  span{
	font-weight:400;
	font-size:11px;
}
#chat-messages{
	opacity:0;
	margin-top:30px;
	width:290px;
	height:270px;
	overflow-y:scroll;	
	overflow-x:hidden;
	padding-right: 20px;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messages.animate{
	opacity:1;
	margin-top:0;
}
#chat-messages label{
	color:#aab8c2;
	font-weight:600;
	font-size:12px;
	text-align:center;
	margin:15px 0;
	width:290px;
	display:block;	
}
#chat-messages div.message{
	padding:0 0 30px 58px;
	clear:both;
	margin-bottom:45px;
}
#chat-messages div.message.right{
	  padding: 0 58px 30px 0;
	  margin-right: -19px;
	  margin-left: 19px;
}
#chat-messages .message img{
	  float: left;
	  margin-left: -38px;
	  border-radius: 50%;
	  width: 30px;
	  margin-top: 12px;
}
#chat-messages div.message.right img{
	float: right;	
    margin-left: 0;
	margin-right: -38px;	
}
.message .bubble{	
	background:#f0f4f7;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
	border-radius:5px 5px 5px 0px;
	color:#8495a3;
	position:relative;
	float:left;
}
#chat-messages div.message.right .bubble{
	float:right;
	border-radius:5px 5px 0px 5px ;
}
.bubble .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
	position:absolute;
	width:7px;
	height:7px;
	left:-5px;
	bottom:0;
}
div.message.right .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
	left:auto;
	right:-5px;
}
.bubble span{
	  color: #aab8c2;
	  font-size: 11px;
	  position: absolute;
	  right: 0;
	  bottom: -22px;
}
#sendmessage{
	height:60px;
	border-top:1px solid #e7ebee;	
	position:absolute;
	bottom:0;
	right:0px;
	width:290px;
	background:#fff;
	padding-bottom:50px;
}
#sendmessage input{
	border:none;
}

#sendmessage input{
	background:#fff;
	margin:21px 0 0 21px;
	border:none;
	padding:0;
	font-size:14px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color:#aab8c2;
}
#sendmessage input:focus{
	 outline: 0;
}
#sendmessage button{
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	right: 15px;
	top: 23px;
	border:none;
}
#sendmessage button:hover{
	cursor:pointer;
	background-position: 0 0 ;
}
#sendmessage button:focus{
	 outline: 0;	 
}

#close{
	position:absolute;
	top: 8px;	
	opacity:0.8;
 	right: 10px;
	width:20px;
	height:20px;
	cursor:pointer;
}
#close:hover{
	opacity:1;
}

.message-date {
    display: block;
    text-align: center;
    color: #888; 
    font-size: 12px; 
    margin-top: 5px; 
}

.cx, .cy{
	background:#fff;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#chatview, #sendmessage { 
overflow:hidden; 
border-radius:6px; 
}

}