/*======= Google fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= Main CSS =======*/

/* Apply styles to all elements, set box model to border-box, and use 'Poppins' font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Remove outline on focus for all elements */
*:focus {
    outline: none;
}

/* Set background color for the body */
body {
    background: #EFF0F6;
}



/*======= Header navigation bar =======*/

/* Style the fixed header bar */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    min-height: 1em;
    background: #fff;
}

/* Style the navigation bar inside the header */
header .nav-bar {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    height: 4em;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    transition: 0.5s ease;
}

/* Style the links and separator inside the header */
.header-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    white-space: nowrap;
}

/* Style individual header links */
.header-link {
    color: #210060;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s;
}

/* Change link color on hover */
.header-link:hover {
    color: #fff;
}


/* Style the logo inside the navigation bar */
.nav-bar .logo img {
    width: 250px;
    height: auto;
    float: left;
    margin-left: -40%;
}

/* Style navigation items */
.navigation .nav-items a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}

/* Add margin to navigation items except the last one */
.navigation .nav-items a:not(:last-child) {
    margin-right: 50px;
}


/* Style navigation close and menu buttons */
.nav-menu-btn {
    display: none;
    margin-right: -7%;
    margin-left: 3%;
}

/* Style the navigation menu button */
.nav-menu-btn {
    display: block;
    color: #210060;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

/* Apply rotation on button click */
.nav-menu-btn:active {
    transform: rotate(180deg);
}

/* Change button color on hover */
.nav-menu-btn:hover {
    color: #fff;
}

/* Style the navigation menu */
.navigation {
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

/* Show the navigation menu when active */
.navigation.active {
    visibility: visible;
    opacity: 1;
}

/* Style the navigation items container */
.navigation .nav-items {
    position: relative;
    background: #fff;
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
    transform: translateY(-200px);
    transition: 0.3s ease;
}

/* Show the navigation items when active */
.navigation.active .nav-items {
    transform: translateY(0);
}

/* Style navigation links */
.navigation .nav-items a {
    color: #222;
    font-size: 1em;
    margin: 15px 50px;
    transition: color 0.3s;
}

/* Change link color on hover */
.navigation .nav-items a:hover {
    color: #210060;
}

/* Style navigation close button */
.nav-close-btn {
    display: block;
    color: #222;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

/* Apply rotation to close button on hover */
.nav-close-btn:hover {
    transform: rotate(90deg);
}

/*======= Scroll bar =======*/

/* Style the scrollbar and scrollbar thumb */
::-webkit-scrollbar {
    background: #fff;
    width: 11px;
    border-radius: 2em;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb {
    background: grey;
    width: 100%;
    border-radius: 2em;
}

/* Style the scrollbar thumb when hovering */
::-webkit-scrollbar-thumb:hover {
    background:darkgray;
}

/*======= Search bar and Profile =======*/

/* Style the search bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30%;
    left: 35%;
    right: 35%;
}

.search-bar input {
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    background: #EFF0F6;
    text-align: left;
}

.search-bar i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
}

  
/* Style the profile link */
.header-links a:last-child {
    color: #210060;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    align-self: center;
    
}
  
  /* Change link color on hover */
  .header-links a:last-child:hover {
    color: #fff;
  }



/*======= Top Posts Styling =======*/


.top-posts {
    padding-top: 5em; /* Adjust the top padding to push down the content below the fixed header */
    position: absolute;
}

.top-posts-section {
    background: white;
    border-radius: 20px;
    width: 170px;
    margin: 10em 15.5% 0; /* Adjusted margin to bring the top-posts closer to the post */
    padding: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.top-posts-title {
    color: #000;
    padding: 2px;
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 1px;
}

.top-posts-title span {
    font-size: 1em;
    display: flex;
    align-items: center; /
}

.top-posts-title span i {
    font-size: 1.2em; /* Adjust the icon size as needed */
    margin-left: 20px; /* Add spacing between text and icon */
    color: #FF4500; 
}


/*======= Post Template Styling =======*/

/* Style the post container */
.post {
    background-color: #fff;
    margin: 6em 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    position: absolute;
}

/* Style the user info section */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info a {
    text-decoration: none;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 1.2em;
    font-weight: 500;
    color: #555;
}


/* Style the post title and tags */
.post-title {
    font-size: 1.7em;
    margin-bottom: 10px;
    margin-left: 6px;
    color: #333;
    display: flex;
    justify-content: space-between; 
}

.post-tag {
    display: flex;
    align-items: center; 
    white-space: nowrap;
}



.input-type {
    margin-left: 10px; 
    font-size: 1.1em;
    font-weight: 600;
    color: #555;
}

.input-tag {
    margin-left: 10px; 
    font-size: 1.1em;
    font-weight: 600;
    color: #555;
}

.input-level {
    margin-left: 10px; 
    font-size: 1.1em;
    font-weight: 600;
    color: #555;
}

.input-date {
    position: absolute;
    margin-left: 85%; 
    font-size: 1em;
    color: #555;
    text-decoration: none;
}

.post-image img {
    width: 100%;
    height: auto;
    border-radius: 1.5%;
}

.post-files ul {
    margin-left: 20px;
}

.post-info ul {
    margin-left: 20px;
}

/* Style the post content */
.post-content {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    background-color: #EFF0F6; 
    padding: 10px;
    border-radius: 15px;
}

/* Style the post actions and stats */
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-actions button {
    background-color: #E9EAF3;
    color: #555;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.post-actions button:hover {
    background-color: #555;
    color: #fff;
}

.post-stats {
    position: absolute;
    display: flex;
    align-items: center;
}

.upvote-count {
    font-size: 1em;
    margin-left: 50px;
    color: #555;
}

.downvote-count {
    font-size: 1em;
    margin-left: 60px;
    color: #555;
}

.comment-count {
    font-size: 1em;
    margin-left: 60px;
    color: #555;
}

.contact {
    position: absolute;
    font-size: 1.1em;
    margin-top: 1.5%;
    margin-left: 75%;
    white-space: nowrap;
    color: #555;
    text-decoration: none; /* Remove underline */
}

.contact a{
    text-decoration: none;
    color: #555;
}

.contact a:hover{
    color: darkgrey;
}

/* Add this to your existing CSS file or create a new one */

.report-button {
    background-color: transparent; /* Coral color, you can change this */
    color: #555; /* White text */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

.report-button:hover {
    color: red; /* Darker coral color on hover, you can change this */
}


.report {
    font-size: 1.1em;
    color: red;
    text-decoration: none; /* Remove underline */
}

.report a {
    text-decoration: none;
    color: #555;
}

.report a:hover {
    color: red;
}

.post-files a{
    text-decoration: none;
    color: #555;
}

.post-files a:hover{
    color: darkgrey;
}

/* Style the comment container */
.comment-container {
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.comment-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.comment-input-box {
    flex-grow: 1;
    padding: 10px;
}

.comment-input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background: #EFF0F6;
    height: 80px;
    resize: none;
}

.submit-comment {
    width: 80px;
    background-color: #E9EAF3;
    color: #555;
    padding: 8px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.submit-comment:hover {
    background-color: #555;
    color: #fff;
}

/* Style the published comment container */
.comment-section {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    overflow: hidden; 
}

.user-name {
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
    margin-top: -5px;
}

.comment-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-date {
    font-size: 0.85em;
    color: #555;
    margin-top: -5px; 
    margin-left: 2%;
}

.comment-box {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    max-height: 130px;
    overflow-y: auto;
    box-sizing: border-box; 
    width: calc(100% - 20px); 
    position: relative; 
}

.comment-actions {
    position: absolute; 
    top: 5px; 
    right: 5px; 
}

.comment-actions button {
    background-color: white;
    color: black;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.comment-actions button:hover {
    color: #ff4d4d; 
}


/* Media query for screens smaller than 768px*/
@media (max-width: 768px) {
    body {
        padding: 0px; /* Add some spacing to the body content */
    }

    header .nav-bar {
        padding: 0 20px; /* Adjust the navigation bar padding for smaller screens */
        justify-content: space-between; /* Center the logo and menu button */
        width: 100%; /* Make the header span the full width of the viewport */
    }

    .nav-menu-btn {
        display: block; /* Display the navigation menu button on mobile */
        margin-right: -2%;
    }

    .nav-bar .logo img {
        width: 150px; /* Adjust the logo size for smaller screens */
        margin-left: -10%; /* Reset the margin for the logo */
    }

    .navigation .nav-items {
        width: 100%; /* Make navigation items full-width on mobile */
    }

    /* Adjust other styles as needed for mobile screens */

    .header-links a:last-child {
        margin-left: 0; /* Reset the margin for the profile link */
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 30%;
        left: 35%;
        right: 35%;
    }
    
    .search-bar input {
        width: 100%;
        padding: 5px 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        background: #EFF0F6;
        text-align: left;
    }
    
    .search-bar i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #000;
        cursor: pointer;
    }
    
    /* Style the profile link */
    .header-links a:last-child {
        color: #210060;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;
        margin-right: auto;
        margin-left: auto;
    }
    
    /* Change link color on hover */
    .header-links a:last-child:hover {
        color: #fff;
    }

    /* Style the post container */
    .post {
    background-color: #fff;
    margin: 6em 0; /* Adjusted margin to make it closer to the top-posts */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 85%;
    margin-left: 8%;
    align-items: center;
    position: absolute;
}

    /* Style the user info section */

    .user-info img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .username {
        font-size: 1em;
        font-weight: 500;
        color: #555;
    }

    /* Style the post title and tags */
    .post-title {
        font-size: 1.3em;
        margin-bottom: 10px;
        color: #333;
        display: flex;
        justify-content: space-between; /* Align items to the right */
    }

    .post-tag {
        display: flex;
        align-items: center; /* Align vertically */
        white-space: nowrap;
    }

    .input-type {
        margin-left: 10px; /* Adjusted margin to separate tags from title */
        font-size: 0.9em;
        font-weight: 600;
        color: #555;
    }

    .input-tag {
        margin-left: 10px; /* Adjusted margin to separate tags from title */
        font-size: 0.9em;
        font-weight: 600;
        color: #555;
    }

    .input-level {
        margin-left: 10px; /* Adjusted margin to separate tags from title */
        font-size: 0.9em;
        font-weight: 600;
        color: #555;
    }

    .input-date {
        position: absolute;
        margin-left: 73%; /* Adjusted margin to separate tags from title */
        font-size: 0.85em;
        color: #555;
    }

    /* Style the post content */
    .post-content {
        font-size: 0.9em;
        line-height: 1.5;
        color: #555;
        margin-bottom: 20px;
        background-color: #EFF0F6; 
        padding: 10px;
        border-radius: 15px;
    }

    .post-actions button {
        background-color: #E9EAF3;
        color: #555;
        padding: 2px 14px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 30px;
        font-size: 1em;
        transition: background-color 0.3s, color 0.3s;
    }

    .post-actions button:hover {
        background-color: #555;
        color: #fff;
    }

    .post-stats {
        position: absolute;
        display: flex;
        align-items: center;
    }

    .upvote-count {
        font-size: 0.9em;
        margin-left: 50px;
        color: #555;
    }

    .downvote-count {
        font-size: 0.9em;
        margin-left: 60px;
        color: #555;
    }

    .comment-count {
        font-size: 0.9em;
        margin-left: 60px;
        color: #555;
    }

    .contact {
        position: absolute;
        font-size: 0.85em;
        margin-top: 2.7%;
        margin-left: 60%;
        white-space: nowrap;
    }

    .report {
        font-size: 0.9em;
        color: red;
    }

    .contact a{
        text-decoration: none;
        color: #555;
    }
    
    .contact a:hover{
        color: darkgrey;
    }
    
    .report {
        font-size: 1.1em;
        color: red;
        text-decoration: none; /* Remove underline */
    }
    
    .report a {
        text-decoration: none;
        color: #555;
    }
    
    .report a:hover {
        color: red;
    }
    
    .post-files a{
        text-decoration: none;
        color: #555;
    }
    
    .post-files a:hover{
        color: darkgrey;
    }

    .submit-comment {
        margin-top: 10px;
        width: 80px;
        background-color: #E9EAF3;
        color: #555;
        margin-left: 0px;
        padding: 5px 10px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        float: right;
        text-align: left;
        position: relative; /* Position relative for icon placement */
    }

}